{% macro external_link(intf,ip,vlan) %}
{{ intf }}.{{vlan}} : { ip: {{ip}}, vlan: {{ vlan }}  }{% endmacro %}

{% macro ebgp_peer(ip,as,prefix) %}
    ip: {{ip}}
        as: {{as}}
        prefix:
{%  for p in prefix %}
        - {{p}}
{%      endfor %}
{% endmacro %}

{% set nodes = sites|map(attribute='pe')|list  %}
{% set vpns = vpn-services|map(attribute='vpn-name')|list  %}
---

# common:
#     vrf_name: {{ common.customer_name }}
#     rt: {{ common.rt|string }}
#     rd: {{ common.rd }}

nodes:
{% for node in nodes %}
  {{ node }}:
{%  for vpn in vpn-services %}
    {{ vpn.vpn-name }}:
        rt: {{vpn.rt}}
        rd: {{vpn.rd}}
        sites:
{%     for site in sites if vpn-attachemt.vpn-name == vpn.vpn-name %}
          - links:   
{%     for site in sites if vpn-attachemt.vpn-name == vpn.vpn-name %}
{%     if site.pe == node %}
      {{ external_link(site.interface,site.ip-connection.ipv4.prefix,site.vlan) }}
{%     endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}